.form {
	display: flex;
	flex-direction: column;
}

label {
	color: rgba(0, 0, 0, 0.6);
}

input {
	width: 326px;
	height: 54px;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.12);
}

input:focus {
	outline: none;
}
