/* General  */

.App {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
}
h1 {
	font-weight: 600;
	font-size: 34px;
	line-height: 41.15px;
	color: #263238;
}

h2 {
	font-weight: bold;
	line-height: 20px;
}
/* Specific  */

.student_line_container {
	margin: auto 10rem;
	width: 60%;
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
}

.add_student_section {
	margin: 5rem auto;
	width: 85%;
	display: flex;
	align-items: center;
	justify-content: start;
}
